<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container">
    <a class="navbar-brand" href="#">Prova de Recrutamento e Seleção – Athenas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/pessoas" routerLinkActive="active">Pessoas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-light py-3 mt-5 text-center">
  <div class="container">
    <p class="mb-0 text-muted">Athenas Teste Técnico - {{ currentYear }}</p>
  </div>
</footer>